version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: monthly
    groups:
      dependencies:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/apps/yet"
    schedule:
      interval: monthly
    groups:
      dependencies:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/apps/blog"
    schedule:
      interval: monthly
    groups:
      dependencies:
        patterns:
          - "*"
  - package-ecosystem: npm
    directory: "/packages/tsconfig"
    schedule:
      interval: monthly
    groups:
      dependencies:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every weekday
      interval: "monthly"
    groups:
      dependencies:
        patterns:
          - "*"
