@import "tailwindcss";

@theme {
  --color-brand: rgb(253, 206, 18);
  --color-base: rgb(51, 51, 51);
  --shadow-bordered: 0 0 0 .3rem rgb(253, 206, 18), 0 0 0 .4rem rgba(51, 51, 51, .09);
  --shadow-button: 0 4px 0 0 rgba(51, 51, 51, .1);
}

@layer base {
  ::selection {
    background: rgb(51, 51, 51);
    color: white;
  }

  body {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    background: rgb(253, 206, 18);
    color: rgb(51, 51, 51);
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  ul, ol {
    margin: 0;
    padding: 0;
  }

  a {
    color: rgb(51, 51, 51);
  }
}

.profile-detail h2 {
  margin: 2rem 0 1rem;
  font-size: 1.4rem;
}

.profile-detail p {
  margin: 1rem 0;
}

.profile-detail ul,
.profile-detail ol {
  padding-left: 1.5rem;
}
