@import "@fontsource/noto-sans-mono/400.css";
@import "@fontsource/noto-sans-mono/600.css";
@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/600.css";
@import "tailwindcss";

html {
  font-family: "IBM Plex Mono", "Noto Sans Mono", monospace;
  background-color: #fff;
  color: #1a1a1a;
}
