# https://turbo.build/repo/docs/ci/github-actions
name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

# 同じRefで複数のワークフローが発生した場合は古い方をキャンセルする
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    timeout-minutes: 15
    runs-on: ubuntu-latest
    # To use Remote Caching, uncomment the next lines and follow the steps below.
    env:
      NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${{ secrets.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY }}
      CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
      SCHEMA_PATH: ${{ secrets.SCHEMA_PATH }}
      GRAPHCMS_BEARER_TOKEN: ${{ secrets.GRAPHCMS_BEARER_TOKEN }}
      CONTENTFUL_SPACE_ID: ${{ secrets.CONTENTFUL_SPACE_ID }}
      CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}
      CONTENTFUL_PREVIEW_ENABLED: ${{ secrets.CONTENTFUL_PREVIEW_ENABLED }}
    #  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
    #  TURBO_TEAM: ${{ vars.TURBO_TEAM }}
    #  TURBO_REMOTE_ONLY: true

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup pnpm environment
        uses: pnpm/action-setup@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: syncpack
        run: pnpm syncpack:lint

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test
